.center-menu-second-screeen {
	justify-content: flex-start;
	height: 549px;
}
.heading {
	font-size: 31px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;

	padding: 57px 0 22px 0;
}
.subheading {
	font-size: 19px;
	font-weight: 400;
	line-height: 30px;
	padding-bottom: 62px;
	color: #737373BD;
}
.styles-list {
	display: flex;
}
.styles-item {
	height: 279px;
	width: 240px;
}
.styles-item-name {
	padding: 19px 0 11px 0;
}
.styles-item-descr {
	width: 219px;
	padding-bottom: 7px;
}
.styles-item-link a{
	color: #CF404D;
}
.side-menu-second-screen{
	height: 549px;
}
